
<div class="navbar navbar-fixed-top navbar-static-top navbar-inverse">
	<div class="navbar-inner">
<!-- 		<div class="container"> -->
			<a class="navbar-brand pull-right" href="#">کتاب</a>
			<ul class="nav navbar-nav pull-left">
				<li><a class="glyphicon glyphicon-log-out icon-flip" href="#"></a></li>
				<li><a class="glyphicon glyphicon-user" href="#"></a></li>
				<li ui-sref-active="active"><a ui-sref="users">کارن</a></li>
				<li ui-sref-active="active"><a ui-sref="tests">کتابونه</a></li>
<!-- 				<li ui-sref-active="active"><a class="glyphicon glyphicon-home" ui-sref="home"></a><span class="link-bg"></span></li> -->
			</ul>
<!-- 		</div> -->
	</div>
</div>
